{{define "application-head"}}
<!DOCTYPE html>
<html lang="{{.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{t .locale "site.description"}}">
    <meta name="keywords" content="{{t .locale "site.keywords"}}">
    <meta name="author" content="{{.author.name}}&lt;{{.author.email}}&gt;">
    <title>{{.title}}|{{t .locale "site.subhead"}}|{{t .locale "site.title"}}</title>
    <link rel="icon" type="image/png" href="{{.favicon}}"/>
    {{assets_css "/3rd/bootstrap/dist/css/bootstrap.min.css"}}
    {{assets_css "/3rd/font-awesome/css/font-awesome.min.css"}}
    {{assets_css "/assets/application.css"}}
    {{assets_js "/3rd/jquery/dist/jquery.min.js"}}
    {{assets_js "/3rd/jquery/dist/jquery.min.js"}}
    {{assets_js "/3rd/popper.js/dist/umd/popper.min.js"}}
    {{assets_js "/3rd/bootstrap/dist/js/bootstrap.min.js"}}
    {{assets_js "/3rd/marked/marked.min.js"}}
    {{assets_js "/assets/ueditor.config.js"}}
    {{assets_js "/3rd/ueditor/dist/utf8-php/ueditor.all.min.js"}}
    {{if eq .locale "zh-Hans"}}
    {{assets_js "/3rd/ueditor/dist/utf8-php/lang/zh-cn/zh-cn.min.js"}}
    {{else if eq .locale "zh-Hant"}}
    {{assets_js "/3rd/ueditor/dist/utf8-php/lang/zh-cn/zh-cn.min.js"}}
    {{else}}
    {{assets_js "/3rd/ueditor/dist/utf8-php/lang/en/en.min.js"}}
    {{end}}
</head>
<body>
  {{template "application-header" .}}
{{end}}

{{define "application-tail"}}
<div class="container">
    {{template "application-footer" .}}
</div>
</body>
</html>
{{end}}

{{define "application-search-form"}}
<form class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{t .locale "buttons.search"}}</button>
</form>
{{end}}

{{define "application-header"}}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#header-nav-bar" aria-controls="header-nav-bar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="header-nav-bar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
        {{template "application-search-form" .}}
    </div>
</nav>
{{end}}

{{define "application-form-buttons"}}
<div class="form-group">
  <button type="submit" class="btn btn-primary">{{t .locale "buttons.submit"}}</button>
  <button type="reset" class="btn btn-secondary">{{t .locale "buttons.reset"}}</button>
</div>
{{end}}

{{define "application-footer"}}
<hr/>
<footer>
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
{{end}}

{{define "application-flash"}}
<div class="row">
    {{if .flashes.notice}}
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">{{t .locale "flashes.notice"}}</h4>
            <hr>
            <p class="mb-0">
              {{range .flashes.notice}}
              {{.}}<br/>
              {{end}}
            </p>
        </div>
    </div>
    {{end}}
    {{if .flashes.warning}}
    <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">{{t .locale "flashes.warning"}}</h4>
            <hr>
            <p class="mb-0">
              {{range .flashes.warning}}
              {{.}}<br/>
              {{end}}
            </p>
        </div>
    </div>
    {{end}}
    {{if .flashes.error}}
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">{{t .locale "flashes.error"}}</h4>
            <hr>
            <p class="mb-0">
              {{range .flashes.error}}
              {{.}}<br/>
              {{end}}
            </p>
        </div>
    </div>
    {{end}}
</div>
{{end}}
