{{define "nut-ueditor"}}
  {{template "application-head" .}}
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-12">
        <h1>{{.title}}</h1>
        <hr/>
        {{template "application-flash" .}}
      </div>
      <div class="col-12">
        <form method="post">
          <script id="{{.id}}" name="{{.id}}" type="text/plain">{{str2htm .value}}</script>
          <script type="text/javascript">
          var ue = UE.getEditor('{{.id}}');
           /* 1.传入函数,命令里执行该函数得到参数表,添加到已有参数表里 */
          ue.ready(function() {
            ue.execCommand('serverparam', function(editor) {
              return {
                'token': '{{.token}}'
              };
            });
          });
          </script>
          <br/>
          <input type="hidden" name="next" value="{{.next}}"/>
          <input type="submit" class="btn btn-primary" value="{{t .locale "buttons.submit"}}"/>
        </form>
      </div>
    </div>
  </div>
  {{template "application-tail" .}}
{{end}}

{{define "nut-home-off-canvas"}}
  {{template "application-head" .}}
  <main role="main" class="container">
    <br/>
    {{template "application-flash" .}}
    <div class="row">
      <div class="col-12 col-md-9">
        {{range (cards .locale "jumbotron")}}
          <div class="jumbotron">
            <h1>{{.Title}}</h1>
            <p>{{str2htm .Summary}}</p>
          </div>
        {{end}}
        <div class="row">
          {{range (cards .locale "main")}}
            <div class="col-12 col-md-4">
              <h2>{{.Title}}</h2>
              <p>{{str2htm .Summary}}</p>
              <p><a class="btn btn-secondary" href="{{.Href}}" role="button">{{.Action}} &raquo;</a></p>
            </div>
          {{end}}
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="list-group">
          {{range (links .locale "sidebar")}}
            <a href="{{.Href}}" class="list-group-item">{{.Label}}</a>
          {{end}}
        </div>
      </div>
    </div>
  </main>
  {{template "application-tail" .}}
{{end}}

{{define "nut-home-carousel"}}
  {{template "application-head" .}}
  <div class="container">
    <br/>
    {{template "application-flash" .}}
    <div class="row">
        <h1>home</h1>
    </div>
  </div>
  {{template "application-tail" .}}
{{end}}

{{define "nut-error"}}
  {{template "application-head" .}}
  <br/>
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="/assets/fail.png"/>
                <div class="card-body">
                    <h4 class="card-title">{{.error}}</h4>
                    <p class="card-text">
                        {{dtf .createdAt}}
                    </p>
                    <a href="/" class="btn btn-primary">{{t .locale "nut.error.go-home"}}</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  {{template "application-tail" .}}
{{end}}
