<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/application/index}">
<head>
    <title th:text="#{nut.install.title}">title</title>
</head>
<body>

<div layout:fragment="content" class="row justify-content-md-center">
    <div class="col-md-6">
        <div th:replace="layouts/application/flash :: main">flash</div>
        <h2 th:text="#{nut.install.title}">title</h2>
        <hr/>
        <form method="post" th:action="@{/install}" th:object="${installForm}">
            <div class="form-group">
                <label th:text="#{nut.forms.site.title}">label</label>
                <input th:field="*{title}" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label th:text="#{nut.forms.site.subhead}">label</label>
                <input th:field="*{subhead}" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label th:text="#{attributes.username}">label</label>
                <input th:field="*{name}" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label th:text="#{attributes.email}">label</label>
                <input th:field="*{email}" type="email" class="form-control" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <div class="form-group">
                <label th:text="#{attributes.password}">label</label>
                <input th:field="*{password}" type="password" class="form-control" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.
                </small>
            </div>
            <div class="form-group">
                <label th:text="#{attributes.passwordConfirmation}">label</label>
                <input th:field="*{passwordConfirmation}" type="password" class="form-control"
                       aria-describedby="passwordConfirmationHelp">
                <small id="passwordConfirmationHelp" class="form-text text-muted">We'll never share your email with
                    anyone else.
                </small>
            </div>
            <div th:replace="layouts/application/form :: buttons">buttons</div>
        </form>
    </div>
</div>


</body>
</html>