<div class="section">
    {{template "layouts/dashboard/flash" .}}
    <div class="row">
        <h2>{{.title}}</h2>
        <form method="post" class="col m12">
            <div class="row">
                <div class="input-field col m6">
                    <input id="title" name="title" value="{{t .locale "site.title="""}}" type="text" class="validate">
                    <label for="title">{{t .locale "attributes.title"}}</label>
                </div>
                <div class="input-field col m6">
                    <input id="subhead" name="subhead" value="{{t .locale "site.subhead"}}" type="text" class="validate">
                    <label for="subhead">{{t .locale "nut.forms.site.info.subhead"}}</label>
                </div>
                <div class="input-field col m6">
                    <input id="keywords" name="keywords" value="{{t .locale "site.keywords"}}" type="text" class="validate">
                    <label for="keywords">{{t .locale "attributes.keywords"}}</label>
                </div>
                <div class="input-field col m6">
                    <input id="copyright" name="copyright" value="{{t .locale "site.copyright"}}" type="text" class="validate">
                    <label for="copyright">{{t .locale "nut.forms.site.info.copyright"}}</label>
                </div>
                <div class="input-field col m12">
                    <textarea id="description" name="description" value="{{t .locale "site.description"}}" class="materialize-textarea"></textarea>
                    <label for="description">{{t .locale "attributes.description"}}</label>
                </div>
            </div>
            {{template "layouts/dashboard/form-buttons" .}}
        </form>
    </div>
</div>
