<div class="section">
    {{template "layouts/dashboard/flash" .}}
    <div class="row">
        <h2>{{.title}}</h2>
        <form method="post" class="col m12">
            <div class="row">
                <div class="input-field col m6">
                    <input id="googleVerifyCode" name="googleVerifyCode" value="{{.form.googleVerifyCode}}" type="text" class="validate">
                    <label for="googleVerifyCode">{{t .locale "nut.forms.site.seo.googleVerifyCode"}}</label>
                </div>
                <div class="input-field col m6">
                    <input id="baiduVerifyCode" name="baiduVerifyCode" value="{{.form.baiduVerifyCode}}" type="text" class="validate">
                    <label for="baiduVerifyCode">{{t .locale "nut.forms.site.seo.baiduVerifyCode"}}</label>
                </div>
            </div>
            {{template "layouts/dashboard/form-buttons" .}}
        </form>
    </div>
    <ul class="collection">
        <li class="collection-item">
            <a href="/robots.txt" target="_blank">/robots.txt</a>
        </li>
        <li class="collection-item">
            <a href="/sitemap.xml.gz" target="_blank">/sitemap.xml.gz</a>
        </li>
        <li class="collection-item">
            <a href="/google{{.form.googleVerifyCode}}.html" target="_blank">/google{{.form.googleVerifyCode}}.html</a>
        </li>
        <li class="collection-item">
            <a href="/baidu_verify_{{.form.baiduVerifyCode}}.html" target="_blank">/baidu_verify_{{.form.baiduVerifyCode}}.html</a>
        </li>
        {{range .languages}}
        <li class="collection-item">
            <a href="/rss-{{.}}.atom" target="_blank">{{t $.locale (fmt "languages.%s" .)}}</a>
        </li>
        {{end}}
    </ul>
</div>
