{{define "nut-admin-site-status-item"}}
<li>
    <div class="collapsible-header">
        <i class="material-icons">{{.icon}}</i>
        {{t .locale (fmt "nut.admin.site.status.%s" .title)}}
    </div>
    <div class="collapsible-body">
        <table class="bordered highlight responsive-table">
            <tbody>
            {{range $k, $v := .items}}
            <tr>
                <td>{{$k}}</td>
                <td><pre>{{$v}}</pre></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</li>
{{end}}

<div class="section">
    <div class="row">
        <h2>{{.title}}</h2>
        <ul class="collapsible" data-collapsible="accordion">
            {{template "nut-admin-site-status-item" dict "locale" .locale "title" "os" "icon" "cloud" "items" .os}}
            {{template "nut-admin-site-status-item" dict "locale" .locale "title" "network" "wifi_tethering" "cloud" "items" .network}}
            {{template "nut-admin-site-status-item" dict "locale" .locale "title" "redis" "icon" "autorenew" "items" .redis}}
            {{template "nut-admin-site-status-item" dict "locale" .locale "title" "rabbitmq" "icon" "speaker_phone" "items" .rabbitmq}}
            {{template "nut-admin-site-status-item" dict "locale" .locale "title" "database" "icon" "storage" "items" .database}}
        </ul>
    </div>
</div>
