<!DOCTYPE html>
<html lang="{{.locale}}">
<head>
    {{template "layouts/meta" .}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{assets_css "/3rd/bootstrap/dist/css/bootstrap.min.css"}}
    {{assets_css "/3rd/font-awesome/css/font-awesome.min.css"}}
    {{assets_css "/assets/application.css"}}
    {{assets_js "/3rd/jquery/dist/jquery.min.js"}}
    {{assets_js "/3rd/jquery/dist/jquery.min.js"}}
    {{assets_js "/3rd/popper.js/dist/umd/popper.min.js"}}
    {{assets_js "/3rd/bootstrap/dist/js/bootstrap.min.js"}}
    {{assets_js "/3rd/marked/marked.min.js"}}
    {{assets_js "/assets/main.js"}}
</head>
<body>
{{template "layouts/application/header" .}}
<div class="container">
    {{yield}}
    {{template "layouts/application/footer" .}}
</div>
</body>
</html>
