<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="personal-bar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{if .session.currentUser}}{{t .locale "personal-bar.welcome" .session.currentUser.name}}{{else}}{{t .locale "personal-bar.sign-in-or-up"}}{{end}}
  </a>
  <div class="dropdown-menu" aria-labelledby="personal-bar">
    {{if .session.currentUser}}
    <a class="dropdown-item" href="/dashboard">{{t .locale "nut.dashboard.title"}}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" data-next="/" data-method="delete" href="/users/sign-out" data-confirm="{{t .locale "helpers.are-you-sure"}}" rel="nofollow">{{t .locale "nut.users.sign-out.title"}}</a>
    {{else}}
    <a class="dropdown-item" href="/users/sign-in">
      {{t .locale "nut.users.sign-in.title"}}
    </a>
    <a class="dropdown-item" href="/users/sign-up">
      {{t .locale "nut.users.sign-up.title"}}
    </a>
    <a class="dropdown-item" href="/users/confirm">
      {{t .locale "nut.users.confirm.title"}}
    </a>
    <a class="dropdown-item" href="/users/unlock">
      {{t .locale "nut.users.unlock.title"}}
    </a>
    <a class="dropdown-item" href="/users/forgot-password">
      {{t .locale "nut.users.forgot-password.title"}}
    </a>
    <a class="dropdown-item" href="/leave-words/new">
      {{t .locale "nut.leave-words.new.title"}}
    </a>
    {{end}}
  </div>
</li>
