<div>
    {{if .currentUser}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personal-bar-authenticated" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{t .locale "personal-bar.welcome" .currentUser.Name}}</a>
        <div class="dropdown-menu" aria-labelledby="personal-bar-authenticated">
            <a class="dropdown-item" href="/dashboard">{{t .locale "nut.dashboard.title"}}</a>
            <a class="dropdown-item"
               href="/logout"
               data-method="post"
               data-next="/users/sign-in"
               data-confirm="#{{t .locale "flash.are-you-sure"}}">
                {{t .locale "nut.users.sign-out.title"}}
            </a>
        </div>
    </li>
    {{else}}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personal-bar-anonymous" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{t .locale "personal-bar.sign-in-or-up"}}</a>
        <div class="dropdown-menu" aria-labelledby="personal-bar-anonymous">
            <a class="dropdown-item" href="/users/sign-in">
              {{t .locale "nut.users.sign-in.title"}}
            </a>
            <a class="dropdown-item" href="/users/sign-up">
              {{t .locale "nut.users.sign-up.title"}}
            </a>
            <a class="dropdown-item" href="/users/confirm">
              {{t .locale "nut.users.confirm.title"}}
            </a>
            <a class="dropdown-item" href="/users/unlock">
              {{t .locale "nut.users.unlock.title"}}
            </a>
            <a class="dropdown-item" href="/users/forgot-password">
              {{t .locale "nut.users.forgot-password.title"}}
            </a>
            <a class="dropdown-item" href="/leave-words/new">
              {{t .locale "nut.leave-words.new.title"}}
            </a>
        </div>
    </li>
</div>
