<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/dashboard" class="brand-logo">{{t .locale "site.subhead"}}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons">home</i></a></li>
            <li><a href="/search"><i class="material-icons">search</i></a></li>
            <li><a href="/dashboard"><i class="material-icons">view_module</i></a></li>
            <li><a href="javascript:history.go(0);"><i class="material-icons">refresh</i></a></li>
            <li>
                <a href="/logout"
                   data-method="post"
                   data-next="/users/sign-in"
                   data-confirm="{{t .locale "flash.are-you-sure"}}">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">{{t .locale "nut.home.title"}}</a></li>
            <li><a href="/dashboard">{{t .locale "nut.dashboard.title"}}</a></li>
            <li>
                <a href="/logout"
                   data-method="post"
                   data-next="/users/sign-in"
                   data-confirm="{{t .locale "flash.are-you-sure"}}">
                  {{t .locale "nut.users.sign-out.title"}}
                </a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
