<!DOCTYPE html>
<html lang="{{.locale}}">
<head>
    {{template "layouts/meta" .}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/3rd/materialize-css/dist/css/materialize.min.css"
          media="screen,projection">
    {{assets_css "/3rd/material-design-icons/iconfont/material-icons.css"}}
    <title>{{.title}}|{{t .locale "site.subhead"}}|{{t .locale "site.title"}}</title>
    {{assets_js "/3rd/jquery/dist/jquery.min.js"}}
    {{assets_js "/3rd/materialize-css/dist/js/materialize.min.js"}}
    {{assets_js "/3rd/marked/marked.min.js"}}
    {{assets_js "/assets/main.js"}}
    {{assets_js "/assets/dashboard.js"}}
</head>
<body>
{{template "layouts/dashboard/header" .}}
<div class="container">
    {{yield}}
</div>
{{template "layouts/dashboard/footer" .}}
</body>
</html>
