<div class="section">
    {{template "layouts/dashboard/flash" .}}
    <div class="row">
        <h2>{{.title}}</h2>
        <form method="post" class="col m12">
            <div class="row">
                <div class="input-field col m4">
                    <input id="currentPassword" name="currentPassword" type="password" class="validate">
                    <label for="currentPassword">{{t .locale "attributes.currentPassword"}}</label>
                </div>
                <div class="input-field col m4">
                    <input id="newPassword" name="newPassword" type="password" class="validate">
                    <label for="newPassword">{{t .locale "attributes.newPassword"}}</label>
                </div>
                <div class="input-field col m4">
                    <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="validate">
                    <label for="passwordConfirmation">{{t .locale "attributes.passwordConfirmation"}}</label>
                </div>
            </div>
            {{template "layouts/dashboard/form-buttons" .}}
        </form>
    </div>
</div>
