<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <br/>
      {{template "layouts/application/flashes" .}}
      <h2>{{.title}}</h2>
      <hr/>
      <form action="/users/{{.action}}" data-next="/users/sign-in" method="post" data-confirm="{{t .locale "helpers.are-you-sure"}}">
        <div class="form-group">
          <label for="email">{{t .locale "attributes.email"}}</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        {{template "layouts/application/form-buttons" .}}
      </form>
      <br/>
      {{template "nut/users/shared-links" .}}
    </div>
  </div>
</div>
