<div class="section">
    <div class="row">
        <h2>{{.title}}</h2>
        <table class="bordered highlight responsive-table">
            <thead>
            <tr>
                <th>{{t .locale "attributes.createdAt"}}</th>
                <th>{{t .locale "attributes.content"}}</th>
            </tr>
            </thead>
            <tbody>
            {{range .items}}
            <tr>
                <td>{{dtf .createdAt}}</td>
                <td>{{.message}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
