<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <br/>
      {{template "layouts/application/flashes" .}}
      <h2>{{.title}}</h2>
      <hr/>
      <form action="/users/sign-in" data-next="/users/logs" method="post">
        <div class="form-group">
          <label for="email">{{t .locale "attributes.email"}}</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">{{t .locale "attributes.password"}}</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        {{template "layouts/application/form-buttons" .}}
      </form>
      <br/>
      {{template "nut/users/shared-links" .}}
    </div>
  </div>
</div>
