<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="layouts/meta :: main"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/application.css}">
    <script th:src="@{/assets/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/main.js}"></script>
</head>
<body>
<div th:replace="layouts/application/header :: main">header</div>
<div class="container">
    <div layout:fragment="content">content</div>
    <hr/>
    <div th:replace="layouts/application/footer :: main">footer</div>
</div>
</body>
</html>