<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="main">
    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personal-bar-authenticated" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" th:text="#{personal-bar.welcome(${session.name})}">welcome</a>
        <div class="dropdown-menu" aria-labelledby="personal-bar-authenticated">
            <a th:text="#{nut.dashboard.title}" class="dropdown-item" href="/dashboard">
                label
            </a>
            <a th:text="#{nut.users.sign-out.title}" class="dropdown-item"
               href="/logout"
               data-method="post"
               data-next="/users/sign-in"
               th:data-confirm="#{flash.are-you-sure}">
                label
            </a>
        </div>
    </li>
    <li sec:authorize="isAnonymous()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personal-bar-anonymous" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" th:text="#{personal-bar.sign-in-or-up}">sign</a>
        <div class="dropdown-menu" aria-labelledby="personal-bar-anonymous">
            <a th:text="#{nut.users.sign-in.title}" class="dropdown-item" href="/users/sign-in">
                label
            </a>
            <a th:text="#{nut.users.sign-up.title}" class="dropdown-item" href="/users/sign-up">
                label
            </a>
            <a th:text="#{nut.users.confirm.title}" class="dropdown-item" href="/users/confirm">
                label
            </a>
            <a th:text="#{nut.users.unlock.title}" class="dropdown-item" href="/users/unlock">
                label
            </a>
            <a th:text="#{nut.users.forgot-password.title}" class="dropdown-item" href="/users/forgot-password">
                label
            </a>
            <a th:text="#{nut.leave-words.new.title}" class="dropdown-item" href="/leave-words/new">
                label
            </a>
        </div>
    </li>
</div>
</body>
</html>