<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/dashboard/index}">
<head>
    <title th:text="#{nut.users.change-password.title}">title</title>
</head>
<body>

<div layout:fragment="content" class="section">
    <div th:replace="layouts/dashboard/flash :: main">flash</div>
    <div class="row">
        <h2 th:text="#{nut.users.change-password.title}">title</h2>
        <form method="post" th:object="${changePasswordForm}" class="col m12">
            <div class="row">
                <div class="input-field col m4">
                    <input th:field="*{currentPassword}" type="password" class="validate">
                    <label for="currentPassword" th:text="#{attributes.currentPassword}">label</label>
                </div>
                <div class="input-field col m4">
                    <input th:field="*{newPassword}" type="password" class="validate">
                    <label for="newPassword" th:text="#{attributes.newPassword}">label</label>
                </div>
                <div class="input-field col m4">
                    <input th:field="*{passwordConfirmation}" type="password" class="validate">
                    <label for="passwordConfirmation" th:text="#{attributes.passwordConfirmation}">label</label>
                </div>
            </div>
            <div th:replace="layouts/dashboard/form :: buttons">buttons</div>
        </form>
    </div>
</div>

</body>
</html>