<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="/assets/fail.png"/>
            <div class="card-body">
                <h4 class="card-title">{{.error}}</h4>
                <p class="card-text">
                    {{dtf .created}}
                </p>
                <a href="/" class="btn btn-primary">{{t .locale "nut.error.go-home"}}</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
